<head>

<script src="../static/js/app.js"></script>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
</head>
    
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Explore the Feels</h3>
            <strong>Feels</strong>
        </div>

        <ul class="list-unstyled components">
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-home"></i>
                    About
                </a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fas fa-briefcase"></i>
                    Dr. Google
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Maps
                </a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                    <li>
                        <a href="#">US</a>
                    </li>
                    <li>
                        <a href="#">The World</a>
                    </li>
                </ul>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fas fa-image"></i>
                    Themes
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fas fa-question"></i>
                    FAQ
                </a>
            </li>
            <li class="active">
                <a href="#">
                    <i class="fas fa-paper-plane"></i>
                    Meet the team
                </a>
            </li>
        </ul>

        <ul class="list-unstyled CTAs">
            <li class="active">
                <a href="https://bootstrapious.com/tutorial/files/sidebar.zip" class="download">Download source</a>
            </li>
            <li class="active">
                <a href="https://bootstrapious.com/p/bootstrap-sidebar" class="article">Back to article</a>
            </li>
        </ul>
    </nav>

    <!-- Page Content  -->
    <div id="content">

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">

                <button type="button" id="sidebarCollapse" class="btn btn-info">
                    <i class="fas fa-align-left"></i>
                    <span>Toggle Sidebar</span>
                </button>
                <button class="btn btn-dark d-inline-block d-lg-none ml-auto" type="button" data-toggle="collapse"
                    data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-justify"></i>
                </button>

                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                </div>
            </div>
        </nav>